@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo
{
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
}
.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    background: url(./menu.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}
.toggle.active
{
    background: url(./close.png);
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    cursor: pointer;
}
.showcase
{
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}
.showcase.active
{
    right: 300px;
}

.showcase video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .9;
}
.background
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    opacity: .75;
     background-color: rgb(233, 222, 222); 
}
.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#111;
    mix-blend-mode: overlay;
}
.overlay_main
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255);
    mix-blend-mode: overlay;
}
.img_gallery img
{
    position: relative;
    z-index: 15;
    padding: 20px;
    width: 33%;
    height: auto;
    min-width: 400px;
}
.text
{
    position: relative;
    z-index: 10;
    color: #e5e5e5;
}

.text h2
{
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text h3
{
    font-size: 4em;
    font-weight: 700;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
}
.text p, ul
{
    font-size: 1.1em;
    color: #fff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 550px;
}
.text ul
{
    columns: 2;
    list-style-type: none;
}
.button a
{
    display: inline-block;
    font-size: 1em;
    background: #866a36;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 1.5s;
    width: 170px;
    white-space: nowrap;
}
.button a:hover
{
    letter-spacing: 6px;
    /* padding: 10px 14px; */
}


.button b
{
    display: inline-block;
    font-size: 1em;
    background: #f50303;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 1.5s;
    width: 150px;
    white-space: nowrap;
}
.button b:hover
{
    letter-spacing: 6px;
    /* padding: 10px 14px; */
}

.button c
{
    display: inline-block;
    font-size: 1em;
    background: #090246;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(247, 238, 238);
    letter-spacing: 2px;
    transition: 1.5s;
    width: 150px;
    white-space: nowrap;
}
.button c:hover
{
    letter-spacing: 6px;
    /* padding: 10px 14px; */
}
.social
{
    position: absolute;
    z-index: 20;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li
{
    list-style: none;
}
.social li a
    {
    display: inline-block;
    margin-right: 0px;
    filter: invert(1);
    transform: scale(0.5);
    transition: 0.5s;
    /* width: 40px;
    height: auto; */
    }
.social li a:hover
    {
    transform: scale(0.5) translateY(-15px);
    }
.menu
    {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
.menu ul
    {
    position: relative;
    }
.menu ul li
    {
    list-style: none;
    }
.menu ul li a
    {
    text-decoration: none;
    font-size: 24px;
    color: #111;
    }
.menu ul li a:hover
    {
    color: #03a9f4; 
    }

@media (max-width: 991px)
    {
    .showcase,
    .showcase header
    {
        padding: 40px;
    }
    .text h2
    {
        font-size: 3em;
    }
    .text h3
    {
        font-size: 2em;
    }
    .text p, ul
    {
        font-size: .8em;
    }
    .text ul
    {
        columns: 1;
    }
    .menu
        {
        width: 200px;
        }
    .showcase.active
        {
          right: 200px;
        }
    .img_gallery img
    {
        min-width: 80vw;
    }
    .text
    {
        margin-top: 100px;
        margin-bottom: 100px;
    }
}
